/**
 * Component: Now Playing.
 * -----------------------------------------------------------------------------
 * Styles for the 'Now Playing' screen.
 *
 */
 .now-playing {
  background-color: var(--colour-background-now-playing);
  color: var(--color-text-primary);
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: var(--spacing-l);
  width: 100%;

  &__cover,
  &__details {
    padding: var(--spacing-m);
    text-align: center;
    width: 100%;
  }

  &__cover {
    max-width: 400px;
  }

  &__image {
    box-shadow: 1px 1px 16px -2px rgba(0, 0, 0, .3);
    height: auto;
    max-width: 60vw;
    width: 100%;
  }

  &__details {
    display: flex;
    flex-direction: column;
    /* 
     * We want to split the area into two flexible regions:
     * top half for track, bottom half for artist.
     */
    height: 100%;
    text-align: center;
  }

  /* 
   * Container that holds the track title at the bottom of the top half.
   */
  &__track-container {
    flex: 1; /* occupy top half */
    display: flex;
    align-items: flex-end;  /* align track text to bottom of container */
    justify-content: flex-start;
    overflow: hidden; /* hide scrollbars if text happens to overflow */
    position: relative;
  }

  /* 
   * Container that holds the artist name at the top of the bottom half.
   */
  &__artist-container {
    flex: 1; /* occupy bottom half */
    display: flex;
    align-items: flex-start; /* align artist text to top of container */
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
  }

  &__track {
    margin: 0;
    font-weight: var(--font-weight-heading);
    font-size: 84px;
    white-space: normal;  /* allow multi-line wrapping */
    word-break: break-word;
  }

  &__artists {
    margin: 0;
    font-size: 80px;
    opacity: 0.85;
    white-space: normal;  /* allow multi-line wrapping */
    word-break: break-word;
  }

  &--active {
    align-items: center;
    justify-content: center;
  }

  &--idle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (min-width: 767px) {
    flex-flow: row nowrap;
    padding: 2rem 4rem;

    &__cover {
      width: 33%;
      max-width: 495px;
      text-align: center;
    }

    &__details {
      width: 67%;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    &__track-container,
    &__artist-container {
      justify-content: flex-start;
    }
  }
}
