/**
 * Global: App
 * -----------------------------------------------------------------------------
 * Entry file.
 *
 */
@import '@/styles/global/variables';
@import '@/styles/global/typography';
@import '@/styles/global/base';

@import '@/styles/components/buttons';

/* Ensure the root elements occupy full screen and prevent overflow */
html, body, #app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scroll bars */
  }